[submodule "pyside"]
	url = https://github.com/Byron/bdep-pyside
	path = lib/pyside
	branch = refs/heads/master
[submodule "qt"]
	url = https://github.com/Byron/bdep-qt
	path = lib/qt
	branch = refs/heads/master
